{% extends "padre.html" %}
{% load static %}

{% block header %} {% endblock %}

{% block reviews %} {% endblock reviews %}

{% block services %} {% endblock services %}

{% block login %}
<body>
    
    {% for Colaborador in Colab %}

    <p>Nombre: {{Colaborador.nombre}}</p>
    <p>Apellido: {{Colaborador.apellido}}</p>
    <p>Edad: {{Colaborador.edad}}</p>
    <p>Correo: {{Colaborador.correo}}</p>

    <button>
        <a href="{% url 'Eliminar_Colaboradores' Colaborador.nombre %}"> Eliminar Colaborador </a>
    </button>
    <button>
        <a href="{% url 'Editar_Colaboradores' Colaborador.nombre %}"> Editar Colaborador</a>
    </button>

    {% endfor %}
    
    <br>
    <br>
    <button>
    <a href="{% url 'Crear_Colaboradores' %}"> Crear Colaborador</a>
    </button>


</body>
{% endblock login %}
</html>