{% extends "padre.html" %}
{% load static %}

{% block descripcion %}

<div class="about" id="about">
	<div class="container">


		<div class="aboutcontent flf dflex_basic"> 
			

			<div class="text"> 
				<h4>Sobre Mí</h4>
				<h3>Javier Kutscher</h3>
				<h5 class="afterborder_1">Apasionado por los automóviles</h5>
				<p>
					Soy un ingeniero comercial apasionado por los automóviles desde una edad temprana. Desde que tengo memoria, he estado fascinado por la ingeniería detrás de cada vehículo y cómo estos artefactos pueden conectar a las personas de diferentes culturas y épocas. Esta pasión me llevó a combinar mis habilidades en negocios con mi amor por los autos clásicos y de lujo, dando lugar a la creación de una página web donde entusiastas como yo pueden compartir sus joyas automotrices, intercambiar experiencias y aprender unos de otros.
				</p>
				<p>
					Mi objetivo con esta plataforma es crear una comunidad vibrante y colaborativa que celebre la belleza atemporal de los automóviles clásicos y la innovación tecnológica de los vehículos de lujo modernos. A través de esta página web, no solo espero compartir mi pasión con otros entusiastas, sino también fomentar el conocimiento y el aprecio por la historia y la evolución del automóvil en todas sus formas. Juntos, podemos crear un espacio donde cada auto tenga su propia historia que contar y donde la diversidad de gustos y opiniones enriquezca nuestra experiencia compartida.
				</p>

			</div>


			<div class="imagearea">
				<img src="{% static 'CarAPP/images/sobremi.jpg' %}" alt="" class="img_basic imgfit_basic aspectratio_1_1" />
			</div>

		</div>
			
		
	</div>
</div>






<div class="stats">
	<div class="container dflex_basic_2 dflex_wrap">



			<div class="item" >
				<span class="fa-solid fa-circle-dollar-to-slot icon"></span>
				<h4><span class="counter">50</span>M+</h4>
				<h5>Transacciones</h5>
			</div>

			<div class="item" >
				<span class="fa-solid fa-users icon"></span>
				<h4><span class="counter">100</span>+</h4>
				<h5>Usuarios Registrados</h5>
			</div>

			<div class="item" >
				<span class="fa-regular fa-face-smile icon"></span>
				<h4><span class="counter">5000</span>+</h4>
				<h5>Evaluaciones positivas</h5>
			</div>



	</div>
</div>

{% endblock descripcion %}

{% block header %} {% endblock %}

{% block reviews %} {% endblock reviews %}

{% block services %} {% endblock services %}

{% block login %} {% endblock login %} 